html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
}

.bagroundColor {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("Images/engageimg.jpg");
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    overflow-x: hidden; /* Keeps content within the viewport */
}

.container {
    position: relative;
  }
  
  .topleft {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-style: oblique;
  }
  
  img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }